$bg-color: #FAFAFA;
$secondary-bg-color: #FFFFFF;

$brand: #518581;

$text-color: #000000;
$accent-text-color: $brand;
$secondary-text-color: #AFADB5;
$button-text-color: #FFFFFF;

$icon-color: #151411;
$border-color: #AFADB5;